openapi: 3.0.3
info:
  title: Enrol to MTD ITSA
  version: '1.0.0'
  description: |
    # Overview
    To provide a way to enrol a customer to MTD ITSA without them being present, auto enrolment takes place. Creates the new enrolment for MTD ITSA using the SA UTR as a reference to create the new enrolment and the national insurance number as it's known fact.
    # Changelog
    1.0 [2025-07-11] initial release.
  x-integration-catalogue:
    reviewed-date: 2025-07-11T15:00:00Z
    platform: HIP
    short-description: This is intended to enrol a given entity to ITSA and
      will be used by HMRC to automatically enrol mandated users. The API is not
      responsible for deciding who to enrol.
    status: ALPHA
    backends:
      - MDTP
    domain: 8
    sub-domain: 8.15
    api-type: SIMPLE
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://hip.ws.hmrc.gov.uk/income-tax-subscription-enrolment
    description: MDTP - Production
  - url: https://hip.ws.ibt.hmrc.gov.uk/income-tax-subscription-enrolment
    description: MDTP - QA
security:
  - oAuth2:
      - write:income-tax-subscription-enrolment
paths:
  /enrol:
    post:
      summary: This is intended to enrol a given entity to MTD ITSA.
      parameters:
        - $ref: '#/components/parameters/correlationId'
      requestBody:
        description: Data used for identification and then subsequent enrolment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
            example:
              utr: 1234567890
              nino: AB123456C
              mtdbsa: 0987654321
      responses:
        '201':
          description: Known Facts have successfully been inserted in the enrolment store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsesSuccess'
              example:
                results: [
                  {
                    "api": "ES6",
                    "status": "Ok"
                  }
                ]
        '400':
          description: Request body is not as expected or missing required request header
        '422':
          description: It was not possible to transfer Known Facts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsesError'
              example:
                code: INVALID_JSON
                message: Json schema validation failed
components:
  parameters:
    correlationId:
      in: header
      name: CorrelationId
      description: A UUID format string for the transaction used for traceability purposes.
      required: true
      schema:
        type: string
        format: uuid
        example: f0bd1f32-de51-45cc-9b18-0520d6e3ab1a
  schemas:
    request:
      title: Schema for request data
      required:
        - utr
        - nino
        - mtdbsa
      type: object
      properties:
        utr:
          type: string
          description: The UTR
          pattern: '^[0-9]{10}$'
          example: 0123456789
        nino:
          type: string
          description: The NINO
          pattern: '^[A-Z]{2}[0-9]{6}[A-Z]{1}$'
          example: AB123456C
        mtdbsa:
          type: string
          description: The MTDBSA
          pattern: '^[A-Z]{4}[0-9]{11}$'
          example: ABCD12345678912
    responsesSuccess:
      title: Successfully called APIs
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              api:
                type: string
                description: API code
                enum:
                  - ES6
                  - ES1
                  - ES0
                  - UGS
                  - ES8
                  - ES11
              status:
                type: string
                description: Status of calling that API
                example: "Ok"
    responsesError:
      title: Known Facts were not inserted (call to ES6 failed)
      type: object
      properties:
        code:
          type: string
          description: Error code from ES6
        message:
          type: string
          description: Error message from ES6
  headers:
    CorrelationId:
      description: A UUID format string for the transaction used for traceability
        purposes
      schema:
        format: uuid
        type: string
        pattern: '^[0-9a-fA-F]{8}[-][0-9a-fA-F]{4}[-][0-9a-fA-F]{4}[-][0-9a-fA-F]{4}[-][0-9a-fA-F]{12}$'
        example: f0bd1f32-de51-45cc-9b18-0520d6e3ab1a
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth2 Client Credentials Flow
      flows:
        clientCredentials:
          tokenUrl: /tokenUrl/not-required
          scopes:
            write:income-tax-subscription-enrolment: Scope for calling Income Tax Subscription Enrolment

